# Docker Compose environment
IMAGE_VERSION=latest

# Nuxt service
NUXT_PORT=12583

# Redis service
REDIS_PASSWORD=change_me
REDIS_PORT=6379

# MySQL main service
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=data_middle_station
MYSQL_MAIN_PORT=3310

# MySQL data service
MYSQL_DATA_DATABASE=kanban_data
MYSQL_DATA_PORT=3311
